@use "../util" as u;

.header {
  height: u.$header-height;
  display: flex;
  justify-content: space-between;
  padding: u.rem(30) u.rem(50);
  //position: sticky;
  z-index: 10;
  background-color: var(--card-background-color);
  @include u.breakpoint-down("small") {
    //padding: u.rem(20);
  }
  box-shadow: 0 2px 6px var(--shadow-color);
}

.toggle-theme {
  position: relative;
  display: flex;
  align-items: center;

  img {
    width: u.rem(16);
    height: u.rem(16);
    margin-right: u.rem(10);
  }
  &:hover {
    box-shadow: 0 0 10px 5px var(--shadow-color),
                inset 0 0 50px var(--shadow-color);
  }
  p {
    font-weight: 600;
  }
}